.site-logo {
    width: 200px;
    position: relative;
    aspect-ratio: 300/80;

    @include responsive('tablet-h') {
        width: 100px;
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: left;
    }
}


.footer {
    .site-logo {
        width: 200px;
        position: relative;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}